rules_version = "2";

service cloud.firestore {
  match /databases/{database}/documents {
  	// QEAN = Quando entrar admin novo; QECN = Quando entrar customer novo
    
    match /admin_new/{admin} {
    	allow read;
      allow write: if false;
      //QEAN: allow read; allow write: if false; allow delete;
    }
    
    match /admins_access/{admin} { 
    	allow read;
      allow write: if false;
      // QEAN: allow read, write;
    }
    
    match /customer_new/{customer} {
      allow read;
      allow write: if false;
      //QECN: allow read; allow write: if false; allow delete;
    }
    
    match /customers_access/{customer} {
    	allow read;
      allow write: if isLoggedIn();
      // QECN: allow read, write;
    }
    
    match /customers/{customer} {
      allow read, write: if isAdmin() && isLoggedIn();
    }
    
    match /drivers/{driver} {
    	allow read, write: if isAdmin() && isLoggedIn();
    }
    
    match /deliveries/{delivery} {
    	allow read, write: if isAdmin() && isLoggedIn();
    }
    
    match /nfs/{nf} {
    	allow read: if isLoggedIn();
      allow write: if isAdmin() && isLoggedIn();
    }
    
    match /stocks/{product} {
    	allow read: if isLoggedIn();
      allow write: if isAdmin() && isLoggedIn();
      
      match /historic/{history} {
        allow read: if isLoggedIn();
    		allow write: if isAdmin() && isLoggedIn();
      }
    }
    
		//match /{document=**} { allow read, write: if true }
  }
  
  function isLoggedIn() {
  	return request.auth != null
  }
  
  function isAdmin() {
  	return request.auth.uid == "YkDFWCcnnYeBSRF6rCi3F0zND752"
  }
}